#about-content h1 {
   position: relative;
   text-align: center;
   font-size: 125px;
   line-height: 108.4%;
   color: rgba(255, 255, 255, 0.1);
   font-family: "Kaushan Script", cursive;
   margin-top: -130px;
}
.about {
   margin-top: 50px;
}
.about p {
   font-family: "Ubuntu", sans-serif;
   font-size: 14px;
   line-height: 16px;
   color: #dddddd;
}
.education {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}
.education h3 {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.1em;
   color: #ffea00;
}
.education p {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #dddddd;
   font-family: "Ubuntu", sans-serif;
}
.education .right-side {
   margin-left: 200px;
}
