#about-content h1 {
   position: relative;
   text-align: center;
   font-size: 125px;
   line-height: 108.4%;
   color: rgba(255, 255, 255, 0.1);
   margin-top: -130px;
}
.content{
   margin-left: 100px;
}
.about {
   margin-top: 50px;
}
.about p {
   font-family: "ubuntu", sans-serif;
   font-size: 14px;
   line-height: 16px;
   color: #dddddd;
}
.education {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}
.education h3 {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.1em;
   color: #ffea00;
}
.education p {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #dddddd;
   font-family: "ubuntu", sans-serif;
}
.education .right-side {
   margin-left: 200px;
}
#about-content h1 {
   text-align: center;
   font-size: 140px;
   line-height: 108.4%;
   color: rgba(255, 255, 255, 0.1);
   font-family: "Kaushan Script", cursive;
   margin-top: -140px;
}
.about {
   margin-top: 50px;
}
.about p {
   font-family: "ubuntu", sans-serif;
   font-size: 14px;
   line-height: 16px;
   color: #dddddd;
}
.education {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}
.education h3 {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.1em;
   color: #ffea00;
}
.education p {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #dddddd;
   font-family: "ubuntu", sans-serif;
}
.education .right-side {
   margin-left: 200px;
}
@media (max-width: 1200px){
   #about-content h1{
      font-size: 135px;
      margin-top: -135px;
   }
}
@media (max-width: 1000px){
   #about-content h1{
      font-size: 130px;
   }
}
@media (max-width: 900px){
   #about-content h1{
      font-size: 135px;
   }
}
@media (max-width: 768px) {
   #sidebar {
      margin-left: -250px;
   }
   #sidebar.active {
      margin-left: 0px;
   }
   #sidebarCollapse span {
      display: none;
   }
  .content {
      margin-left: 50px;
   }
   .content p {
      font-size: 1.2em;
      line-height: 140%;
   }
   #about-content h1{
      font-size: 105px;
      margin-top: -120px;
   }
}
@media (max-width: 510px){
   .content {
      margin-left: -20px;
      padding: 20px;
   }
   #about-content h1{
      font-size: 100px;
      margin-top: -135px;
   }
}
