body{
    background: linear-gradient(
         281.05deg,
         #161616 100.04%,
         rgba(22, 22, 22, 0) 6.33%
      ),
      linear-gradient(
         199.86deg,
         rgba(22, 22, 22, 0) 6.76%,
         rgba(22, 22, 22, 0.867683) 7.44%,
         #161616 3.81%
      );
}
.education{
    margin-top: 50px;
    margin-left: 80px;
}
.education .right-side{
    margin-left: 100px;
}
#about-content h1{
    font-size: 125px;
    margin-top: -130px;
}