body{
    background: #262626;
}
.education{
    margin-top: 50px;
    margin-left: 80px;
}
.education .right-side{
    margin-left: 100px;
}
#about-content h1{
    font-size: 125px;
    margin-top: -130px;
}