.first-card{
    background: url(../img/Group\ 1499.png);
    background-repeat: no-repeat;
}
.second-card .left-expense{
    background: url(../img/logo.png);
    background-repeat: no-repeat;
}
.third-card{
    background: url(../img/smartmockups_kdroxua1\ 1.png);
    background-repeat: no-repeat;
}
.forth-card .left-expense{
    background: url(../img/Apple\ iMac\ 27_.png);
    background-repeat: no-repeat;
}
.fifth-card .left-expense{
    background: url(../img/smartmockups_kdra0ffh3.png);
    background-repeat: no-repeat;
}
.left-topography .one{
    background: #000000;
}
.left-topography .two{
    background: #EAEAEA;
    color: #000;
}
.left-topography .three{
    background: #D7D7D7;
    color: #000;
}
.left-topography .four{
    background: #6E8B41;
}
.left-topography .five{
    background: #747C83;
}
.seventh-card .left-expense{
background: url(../img/smartmockups_kdrr16fi3.png);
background-repeat: no-repeat;
}
.eighth-card{
    background: url(../img/Frame\ 1424.png);
    background-repeat: no-repeat;
}
.nineth-card .left-expense{
    background: url(../img/smartmockups_kdra0ffh4.png);
    background-repeat: no-repeat;
    margin-top: 40px;
}