body{
    background: linear-gradient(
         281.05deg,
         #161616 100.04%,
         rgba(22, 22, 22, 0) 6.33%
      ),
      linear-gradient(
         199.86deg,
         rgba(22, 22, 22, 0) 6.76%,
         rgba(22, 22, 22, 0.867683) 7.44%,
         #161616 3.81%
      );
}
.first-card{
    background: url(../img/Group\ 1499.png);
    background-repeat: no-repeat;
}
.second-card .left-expense{
    background: url(../img/logo.png);
    background-repeat: no-repeat;
}
.third-card{
    background: url(../img/smartmockups_kdroxua1\ 1.png);
    background-repeat: no-repeat;
}
.forth-card .left-expense{
    background: url(../img/Apple\ iMac\ 27_.png);
    background-repeat: no-repeat;
}
.fifth-card .left-expense{
    background: url(../img/smartmockups_kdra0ffh3.png);
    background-repeat: no-repeat;
}
.left-topography .one{
    background: #000000;
}
.left-topography .two{
    background: #EAEAEA;
    color: #000;
}
.left-topography .three{
    background: #D7D7D7;
    color: #000;
}
.left-topography .four{
    background: #6E8B41;
}
.left-topography .five{
    background: #747C83;
}
.seventh-card .left-expense{
background: url(../img/smartmockups_kdrr16fi3.png);
background-repeat: no-repeat;
}
.eighth-card{
    background: url(../img/Frame\ 1424.png);
    background-repeat: no-repeat;
}
.nineth-card .left-expense{
    background: url(../img/smartmockups_kdra0ffh4.png);
    background-repeat: no-repeat;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .content{
       margin-left: 55px;
    }
    .first-card, .third-card, .eighth-card{
       width: 100%;
    }
    .second-card .left-expense{
       margin-top: 0px;
    }
    .second-card .right-expense{
       width: 100%;
       margin-top: -50px;
    }
    .forth-card .right-expense, .fifth-card .right-expense{
       margin-top: 50px;
       width: 90%;
    }
    .fifth-card .left-expense {
       margin-top: 0;
    }
    .left-topography p {
       border-radius: 50%;
       width: 86.3px;
       height: 86.37px;
       font-weight: bold;
       text-align: center;
       margin-top: 30px;
       padding-top: 30px;
    }
    .seventh-card .left-expense{
       margin-top: 10px;
    }
    .seventh-card .right-expense{
       margin-top: 40px;
       width: 90%;
    }
    .nineth-card .left-expense{
       margin-top: 15px;
    }
    .nineth-card .right-expense{
       margin-top: 40px;
       width: 90%;
    }
 }