body{
    background: linear-gradient(
         281.05deg,
         #161616 100.04%,
         rgba(22, 22, 22, 0) 6.33%
      ),
      linear-gradient(
         199.86deg,
         rgba(22, 22, 22, 0) 6.76%,
         rgba(22, 22, 22, 0.867683) 7.44%,
         #161616 3.81%
      );
}
.card{
    margin-top: 20px;
    border-left: 5px solid #FFEA00;
    background: #2B2B2B;
    border-radius: 8px;
}
.project-card{
    display: flex !important;
    justify-content: space-between;
    padding: 20px;
}
#about-content{
    margin-bottom: 30px;
}
.left-card{
    width: 50%;
    height: 236px;
}
.right-card{
    width: 40%;
    margin-left: 20px;
}
.card1{
    background: url(../img/Rectangle\ 28.png);
    background-repeat: no-repeat;
    width: 318px;
    height: 236px;
}
.card2{
    background: url(../img/Rectangle\ 29.png);
    background-repeat: no-repeat;
    width: 318px;
    height: 236px;
}
.card3{
    background: url(../img/Rectangle\ 22.png);
    background-repeat: no-repeat;
    width: 318px;
    height: 236px;
}
.card4{
    background: url(../img/Rectangle\ 30.png);
    background-repeat: no-repeat;
    width: 318px;
    height: 236px;
}
.right-card h3{
    color: #fff;
    font-size: 24px;
    line-height: 29px;
}
.right-card img{
    margin-bottom: 70px;
}
.right-card a{
    color: #FFEA00;
    font-size: 16px;
    line-height: 19px;
}
@media (max-width: 900px){
    .content{
        margin-left: -5px;
    }
}
@media (max-width: 768px){
    .project-card{
        display: flex;
        flex-wrap: wrap;
    }
    .left-card{
        width: 100%;
    }
    .right-card{
        width: 100%;
        margin-top: 30px;
    }
    .content{
        margin-left: 5px;
    }
}